.TopNavBar{
  background-color: aliceblue;
  padding: 20px;
}

.logo{
height: 45px;
float: left;
transform: translateY(-20%);
}

.cart{
  height: 45px;
  float: right;
  transform: translateY(-20%);
  padding-right: 30px;
  }
.myAccount{
float: right;
padding-right: 150px;
}

.searchBar{
  padding: 5px;
    height: 25px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    background-image: url('./images/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
    margin-left: 240px;
}

.appFilter{
background-color: azure;
    width: 200px;
    padding: 30px;
    height: 500px;
}

.filterList{
list-style: none;
text-decoration: underline;
cursor: pointer;
}

.body{
display: inline-flex;
}

.productCardImage{
  height: 200px;
}

.products{
margin: 20px;
}

.fiveStarImage{
width: 120px;
vertical-align: middle;
}
.productSpecifications span{
font-weight: bold;
}